<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript" th:src="@{/js/topicRequests.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Show topics and insert them</title>
</head>
<body>
<table>
    <tr th:each="topic : ${topicList}">
        <td th:utext="'topicId: ' + ${topic.getTopicId()}">topic id  </td>
        <td th:utext="'  -   ' + ${topic.getTopicName()}">topic name  </td>
        <td th:utext = "'  || chapter's count : ' + ${topic.getChapterEntityList().size()}  "> chapter's count</td>
    </tr>
</table>
<h2>Creating topic.</h2>
<form method="POST">
    <legend>Create new topic.</legend>
    Topic name : <br>
    <input name="topicName" type="text">
    <input type="button" value="Send">
</form>
<br>
<h2>Deleting topic.</h2>
<form>
    <legend>Delete topic.</legend>
    Topic id : <br>
    <input name="topic id" id="deleteTopicId" type="number">
    <input type="button" value="Delete" onclick="deleteTopic()">
</form>


</body>
</html>